body {
	background: top left no-repeat #fff;
	margin: 0px;
	padding: 0px;
}

#leftmenu {
	background: #ebd7a2 url(gfx/textureback.jpg);
	padding: 2px;
	width: 170px;
	float: left;
	border: 1px solid black;
}

#leftmenu p,
#leftmenulgbtq p {
	margin: 2px 2px 20px 10px;
}

#leftmenulgbtq {
	padding: 2px;
	width: 170px;
	float: left;
	border: 1px solid black;
  	background:
	  radial-gradient(circle at 0% 50%, #0000 3.66%, darkviolet 3.7% 4.65%, #0000 4.7%),
	  conic-gradient(at 26.66% 50%, #0000 222.75deg, gold 0 317.25deg, #0000 0),
	  conic-gradient(at 33% 50%, #0000 222.75deg, white 0 317.25deg, #0000 0),
	  conic-gradient(at 39% 50%, #0000 222.75deg, #ffa6b9 0 317.25deg, #0000 0),
	  conic-gradient(at 45.66% 50%, #0000 222.75deg, #00d2ff 0 317.25deg, #0000 0),
	  conic-gradient(at 52% 50%, #0000 222.75deg, #753000 0 317.25deg, #0000 0),
	  conic-gradient(at 58.33% 50%, #0000 222.75deg, #000 0 317.25deg, #0000 0),
	  linear-gradient(red 0 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);	
	background-blend-mode: normal;
}

div#leftmenulgbtq img#alexandrialogo {
	mix-blend-mode: multiply;
}

div.leftmenucontent {
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	padding: 4px;
	margin: 10px;
	margin-bottom: 15px;
	overflow-x: hidden;
}

div.leftmenucontent:hover {
	overflow-x: auto;
}

div.leftmenucontent .menulogin {
	line-height: 140%;
}

div.leftmenucontent .mylinks {
	padding-left: 10px;
}

div.longblock {
	overflow: hidden;
	max-height: 200px;
}

div.longblock:hover {
	overflow: auto;
}

#topmenu {
	position: absolute;
	clear: right;
	left: 175px;
	top: 0px;
	border: 1px solid black;
	background: rgb(255, 255, 255, 0.8);
}

#topmenu form {
	display: inline;
}

#resultbox {
	position: absolute;
	clear: right;
	left: 535px;
	top: 30px;
	width: 150px;
	border-color: black;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	margin: 2px;
	display: none;
	z-index: 10;
	background-color: #fff;
}

#resultbox .result {
	text-indent: -6px;
	padding: 2px 2px 2px 9px;
}

#content {
	position: absolute;
	left: 195px;
	top: 40px;
	width: 70em;
}

#contenttext {
	position: absolute;
	left: 195px;
	top: 40px;
}

#contentwide {
	position: absolute;
	left: 195px;
	top: 40px;
}

div,
p,
th,
td {
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 12px;
}

div.thumb {
	float: right;
}

div.thumb img {
	border: 1px solid black;
	margin: 2px;
	margin-left: 1em;
}

td.statleft {
	padding-right: 20px;
}

.find {
	border: 1px dashed;
}

.finderror {
	color: red;
	font-weight: bold;
}

.aspect {
	font-family: 'times new roman', times, serif;
	font-size: 14px;
}


.listresult {
	background-color: #fffff8;
	vertical-align: bottom;
}


.listhead {
	font-size: 14px;
	text-align: left;
}

.datatitle {
	margin: 0px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 24px;
}

h3.findhead {
	margin: 0px;
	font-family: verdana, tahoma, arial, sans-serif;
}

.frontpagehead {
	background-color: #fea;
}

h3 {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: 0px;
	margin-top: 2px;
}

h2 {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 2em;
}


.parttitle {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 18px;
	margin-bottom: 3px;
}

.indata {
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 12px;
}

.needhelp {
	font-style: italic;
}

td.filelist {
	text-align: right;
}

.indatalist {
	margin-top: 0px;
	padding-top: 0px;
}

p.close {
	margin-top: 0px;
}

.lpad {
	padding-left: 10px;
}

.pagetitle {
	margin: 0px;
	font-family: Verdana, Tahoma;
}

.oss,
.correctionlabel,
.nomatch,
.highlightsearch,
.stathead,
a.highlight,
p.addorganizersyourself {
	font-weight: bold;
}

.topmenublock {
	width: 80px;
	height: 20px;
	float: left;
	text-align: center;
	padding-top: 5px;
	border-right: 1px solid black;
}

.topmenublock a {
	display: block;
}

.topmenublockfind {
	white-space: nowrap;
	padding: 2px;
	border: 0;
	height: 20px;
	float: left;
	text-align: center;
}

.topmenublockfind::first-letter {
	text-decoration: underline;
}

.intern,
.internal {
	color: #999;
}

.noteindtast, .locationnote {
	font-size: 75%;
}

.updatelinktext {
	font-size: 75%;
	font-style: italic;
}


.rightblock {
	border: 1px solid black;
	padding: 4px 4px 4px 4px;
	margin: 0px 0px 10px 0px;
}

table {
	border-spacing: 1px;
	padding: 1px;
}

table.tablestat,
table.scenariolist,
table.organizerlist {
	border-spacing: 1px;
	padding: 1px;
}

table.tablestatlist,
table.people,
table.conlist {
	border-spacing: 0px;
	padding: 1px;
}

table.gamerun {
	border-spacing: 0px;
	padding: 1px;
}

table.gamerun td.date {
	text-align: right;
}

table.people {
	margin-bottom: 1em;
}

table.tablestat th {
	text-align: left;
}

table.tableoverview {
	border-spacing: 1px;
	padding: 0px;
}

table.tableoverview th {
	text-align: left;
}

table.tableoverview td:first-child {
	white-space: nowrap;
}

table.tablestartpad td:first-child {
	padding-right: 1em;
}

tr {
	vertical-align: top;
}

td.statnumber {
	text-align: right;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #808;
}

div.scenarie a:link,
a.scenarie:link,
div.game a:link,
a.game:link {
	color: #e80;
	fill: #e80;
}

div.scenarie a:visited,
a.scenarie:visited,
div.game a:visited,
a.game:visited {
	color: #b50;
	fill: #b50;
}

div.person a:link,
a.person:link {
	color: #b00;
	fill: #b00;
}

div.person a:visited,
a.person:visited {
	color: #800;
	fill: #800;
}

div.con a:link,
a.con:link {
	color: #090;
}

div.con a:visited,
a.con:visited {
	color: #060;
}

div.system a:link,
a.system:link {
	color: #30c;
}

div.system a:visited,
a.system:visited {
	color: #009;
}

div.person div.list,
div.system div.list,
div.todolist {
	column-count: 3;
	margin-bottom: 1em;
}

div.todolist div,
div.calendar div {
	break-inside: avoid;
}

div.todocons a {
	display: block;
}

div.countrylist {
	margin-bottom: 1em;
}

div.countrylist span {
	background-color: #3ae7fb;
	border-radius: 4px;
	padding: 3px;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
}

div.latestnews {
	width: 240px;
	padding-right: 10px;
	border-right: 1px solid black;
	float: left;
}

div.latestnews .topnote,
p.installnote {
	font-size: 0.8em;
	font-style: italic;
}

div.frontpagedownloads {
	float: left;
	width: 300px;
	padding-left: 15px;
}

div.frontpagedownloads ul li {
	padding-bottom: 2px;
}

div.frontpageevents {
	float: left;
	width: 300px;
	padding-left: 15px;
	padding-right: 10px;
	border-right: 1px solid black;
}

div.conblock {
	page-break-inside: avoid;
	break-inside: avoid;
	margin-bottom: 5px;
}

div.conblock h3 {
	display: inline-block;
}

div.conblock ul {
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
	break-inside: avoid;
}

span.countryselector {
	cursor: pointer;
}


div.leftmenuad {
	margin: 10px;
}

div.rightad {
	float: right;
	margin: 10px;
}

div.topbanner {
	position: absolute;
	clear: right;
	left: 175px;
	top: 50px;
}

div.creategame {
	border-radius: 20px;
	border: 2px solid black;
	background-color: #ee7;
	text-align: center;
	width: 600px;
	font-size: 1.5em;
	padding: 5px;
	margin-bottom: 10px;
}

div.achievement {
	margin-bottom: 8px;
	width: 300px;
	height: 50px;
	overflow: auto;
	clear: right;
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	padding-left: 4px;
	padding-right: 4px;
}

div.achievement.completed {
	border-color: black;
	color: black;
}

div.achievement.completed:hover {
	outline: none;
	box-shadow: 0 0 15px #ace;
}

div.achievement.incomplete {
	border-color: #999;
	color: #999;

}

div.achshow {
	position: fixed;
	right: -350px;
	margin-bottom: 8px;
	margin-right: 8px;
	width: 300px;
	height: 50px;
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	background-color: #fff;
	padding-left: 4px;
	padding-right: 4px;
	animation: hitAndRun 30s;
}

div.achshow:hover {
	outline: none;
	box-shadow: 0 0 15px #ace;
}

div.mylist {
	float: left;
	margin-right: 30px;
}

p.personslinks {
	font-size: 16px;
}

p.gameslinks {
	font-size: 14px;
}

h2.gamesselect,
h2.systemsselect {
	margin-bottom: 1em;
}

p.jostdescription {
	width: 350px;
}

@keyframes hitAndRun {
	0% {
		right: -350px;
	}

	10% {
		right: 0px;
	}

	90% {
		right: 0px;
	}

	100% {
		right: -350px;
	}
}

span.label {
	font-weight: bold;
	font-style: italic;
}

h4.peoplegamerun {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1em;
}

p.addorganizersyourself {
	cursor: pointer;
	font-style: italic;

}

div.allawards h4, div.awardcategory h4 {
	margin-top: 2px;
	margin-bottom: 0;
}

ul.awardlist {
	list-style-type: none;
	clear: both;
}

ul.awardlist li {
	float: left;
	background-color: #ebd7a2;
	border-radius: 4px;
	padding: 3px;
	font-size: 0.8em;
	margin: 2px;
	cursor: pointer;
}

div.clear {
	clear: both;
}

div.winner,
div.nominee,
details.winner,
details.nominee {
	margin-left: 3em;
	margin-bottom: 2px;
	margin-top: 0;
	padding: 0;
}

div.awardcategory span.winner,
div.winner span.winner {
	text-decoration: underline;
}


div.arrows {
	font-size: 1.8em;
	font-weight: bold;
}

div.arrows a {
	color: black;
}

div.arrows span.inactive {
	color: #bbb;
}

div.calendar {
	column-count: 2;
	column-gap: 40px;
}

h3.calendarhead {
	margin: 0;
	padding: 0;
}

p.calendarmonth {
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.concolumns {
	column-count: 3;
	column-gap: 30px;
}

.awardblock {
	column-count: 3;
	column-gap: 40px;
}

.awardcategory {
	break-inside: avoid;
	page-break-inside: avoid;
	display: table;

}

span.urltext {
	font-family: monospace;
}

div.ranking,
span.participantshint,
span.findhint {
	font-size: 0.8em;
}

div.nomtext {
	font-size: 0.9em;
}

span.authorlistextra {
	display: none;
}

span.moreauthors {
	cursor: pointer;
	color: #b00;
}

h4.awardconventhead {
	margin-top: 0.6em;
	margin-bottom: 0;

}

#awards {
	margin-bottom: 0;
}

span.atoggle {
	cursor: pointer;
}

span.preicon,
span.titicon {
	font-size: 1em;
}

.cancelled {
	color: #999;
	text-decoration: line-through;
}

h3.cancelnotice {
	text-align: center;
	color: #e22;
	border: 3px dashed red;
	border-radius: 20px;
	width: fit-content;
	padding: 8px;
}

ul.remotelogin {
	list-style-type: none;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 0em;
	margin: 0px;
}

ul.remotelogin li {
	padding-bottom: 1px;
}

ul.taglist {
	list-style-type: none;
	float: right;
	text-align: right;
}

ul.taglist li {
	margin: 2px;
}

ul.taglist li a,
a.tag {
	background-color: #ddd;
	border-radius: 4px;
	padding: 3px;
	font-size: 0.8em;
	color: black;

}

a.tag::before {
	content: "🏷️ ";
}

ul.taglist li span.delete a {
	background-color: #f99;
}

ul.taglist li a:hover {
	background-color: #aaa;
}

ul.taglist li span.delete a:hover {
	background-color: #f66;
}

#tabs,
.tabsmin {
	background: transparent !important;
	border: none !important;
}

#tabs .ui-widget-header,
.tabsmin .ui-widget-header {
	background: transparent !important;
	border: none !important;
	border-bottom: 1px solid #c0c0c0 !important;
	border-radius: 0px !important;
}

#tabs .ui-tabs-nav .ui-state-default,
.tabsmin .ui-tabs-nav .ui-state-default {
	background: transparent !important;
	border: none !important;
}

#tabs .ui-tabs-nav .ui-state-active,
.tabsmin .ui-tabs-nav .ui-state-active {
	background: transparent url(gfx/uiTabsArrow.png) no-repeat bottom center !important;
	border: none !important;
}

#tabs .ui-tabs-nav .ui-state-default a,
.tabsmin .ui-tabs-nav .ui-state-default a {
	color: #c0c0c0 !important;
}

#tabs .ui-tabs-nav .ui-state-active a,
.tabsmin .ui-tabs-nav .ui-state-active a {
	color: #459e00 !important;
}

div.accounts div {
	border: 1px solid black;
	font-size: 1.5em;
	font-family: Sans-serif;
	text-align: center;
	padding: 3px;
	margin: 3px;
	width: 10em;
}

div.accounts div.unlinked {
	background: rgb(180, 180, 180) radial-gradient(circle, rgb(180, 180, 180) 0%, rgb(140, 140, 140) 100%);
}

div.accounts div.linked {
	background: rgb(0, 240, 0) radial-gradient(circle, rgb(0, 240, 0) 0%, rgb(0, 180, 0) 100%);
}

.autosearchnote {
	color: #999;
	padding-left: 2em;
	font-size: 0.7em;
}

code.label {
	background-color: #ccc;
	padding: 3px;
	border-radius: 2px;
}

.ui-autocomplete {
	max-height: 600px ! important;
	max-width: 300px ! important;
	overflow-y: auto ! important;
	/* prevent horizontal scrollbar */
	overflow-x: hidden ! important;
	font-size: 0.8em ! important;
	margin-right: 30px ! important;
}

div.selectlanguage {
	position: relative;
}

div.selectlanguage img:first-child {
	position: absolute;
	right: 5px;
	width: 30px;
	opacity: 0.3;
}

table#personarticles td,
table#gamearticles td {
	padding-right: 10px;
}

table#personarticles .colophon {
	font-style: italic;
}

table#personarticles .page, .articlereferences .page {
	white-space: nowrap;
}

div#magazinelist {
	column-count: 2;
}

div#magazinelist div {
	break-inside: avoid;
}

div.issuegrid {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
}

div.issuegrid>div {
	width: 145px;
}

div.issuegrid>div>div {
	width: 141px;
	height: 200px;
	border: 1px solid black;
	margin-bottom: 2px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}

div.issuegrid>div>div img {
	width: 141px;
	height: 200px;
	object-fit: cover;
}

div.issuegrid>div>div>a {
	display: block;
	width: 100%;
	height: 100%;
}

table.magazinecontent td {
	padding-right: 10px;
}

table.magazinecontent td.page {
	text-align: right;
}

table.magazinecontent td.page,
table.magazinecontent td.contributor,
table.magazinecontent td.role,
table#personarticles td.magazine,
table#gamearticles td.magazine {
	white-space: nowrap;
}

table.magazinecontent span.description {
	font-size: 0.8em;
	font-style: italic;
}

.references {
	margin: 3px;
}

.references a {
	border: 1px solid black;
	border-radius: 1em;
	padding: 2px 4px 2px 4px;
	font-size: 0.8em;
	white-space: nowrap;
}

.references a.person {
	background-color: #f77;
	color: black;
}

.references a.scenarie,
.references a.game {
	background-color: #e80;
	color: black;
}

.references a.con {
	background-color: #6e6;
	color: black;
}

.references a.system {
	background-color: #aaf;
	color: black;
}

.references a.magazine {
	background-color: #e7e;
	color: black;
}

.organizerhidden {
	display: none;
}

div.originalsearch {
	width: 640px;
	text-align: left;
	font-size: 0.8em;
	margin-top: 0;
	font-style: italic;
	margin-bottom: 1em;
}

div.originalsearch a {
	font-weight: bold;
}

details summary {
	cursor: pointer;
	list-style-position: outside;
}

details summary::marker {
	color: gray;
}

details summary:hover::marker {
	color: black;
}

details summary.nonomtext {
	list-style-type: none;
	cursor: default;
}

details summary.nonomtext:hover::marker {
	color: gray;
}

details div.nomtext,
details div.ranking {
	margin-left: 1em;
}

div.popupeventlist {
	overflow: auto;
	max-height: 300px;
	scrollbar-width: thin;
}